# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data artifacts
data/processed/**
!data/processed/.gitkeep
*.tmp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
